/build/
/CMakeFiles/
/CMakeCache.txt
/cmake_install.cmake
/Makefile

.vscode/
*.code-workspace

*.exe
*.dll
*.lib
*.obj
*.o
*.pch
*.pdb
*.bat

*.log
*.tmp

.DS_Store
*.out
macros.txt

install_manifest.txt
compile_commands.json